{% extends "base.html" %}

{% block title %}Log Out{% endblock %}

{% block sidebar %}{% endblock sidebar%}

{%block loginlink %}{%endblock loginlink %}

{% block all-content %}
<div class="span12" id="right-content">

<h1>Thank You</h1>

<div class="row-fluid">
<div class="span4">
	<p>Thanks for visiting waceponline.org.</p>
	
	<div>
		<a href="/accounts/login/?next=/" class="btn">I want to log in again.</a>
	</div>
	</div>
<div class="span8">
	<img class="img-polaroid" src="/site_media/img/gazebo.jpg"/>
	
</div>
</div>
{% endblock %}