{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block sidebar %}{% endblock sidebar%}

{%block loginlink %}{%endblock loginlink %}
{% block content %}


<div class="hero-unit" style="color: white; padding: 30px; text-shadow: 1px 1px 1px #000; background-image: url('/site_media/img/beach.jpg');  ">

		<h1>
		Water and Climate Education Program (WACEP)
		</h1>
		<h3>
		Short Courses in Climate Risk Management and Water Resources Management
		</h3>
		
</div>


<div class="row-fluid">

	<div class="span6">
		
		<p>
		Caribbean islands have limited water resources, and increasing pressure on those resources from population pressure, urbanization, economic development, and tourism. Climatic variability is magnifying existing pressures. Adaptation to climate is essential, but regional capacity needs to be built in how to identify and implement effective strategies to manage climate and water-related risks.
		</p>
		
		<p>
		The short courses offer participants the opportunity to approach water resources management from a climate-smart perspective; water policy and risk management are not explored exclusively, but rather are considered alongside adaptation to climate variability and change.		
		</p>

		<p>These are the four courses in this program: </p>
		
		<ol>
		<li>Introduction to Water Sustainability and Climate</li>
		<li>Climate Information and Predictions from Seasons to Decades</li>
		<li>Climate Information for Improved Water Management</li>
		<li>Water Planning and Policy for Climate Variability and Change</li>
		</ol>
		
		<p>Please contact <a href="mailto:wacep@iri.columbia.edu">wacep@iri.columbia.edu </a>for more information and course registration.</p>
		
		</div>

	<div class="span6">
        <form method="post" action="." class="well">
            {% if form.errors %}
                <p class="errornote">
                    <span>
                        <b>ERROR:</b> Invalid username or password.
                    </span>
                    Please try again. Note that both username and password are case-sensitive.
                </p>
            {% endif %}
        
    		<label for="id_username">User Name: {{ form.username }}</label>
    		<label for="id_password">Password: {{ form.password }}</label>
    		
    		<input type="submit" value="Log In" class="btn btn-primary" />
    		{% comment%}
    		<!-- don't have a pmt for this yet, so I'm commenting it out. -->
    		<input type="submit" value="I Forgot My Password" class="btn btn-warning" />
    		{% endcomment%}
    		
    		<input type="hidden" name="next" value="{{ next }}" />
		
		</form>

		<img src="/site_media/splash/img/wacep_logo_vertical.png" alt="WACEP Logo" />

	</div>
	

</div>




{% endblock %}
