/*Color Scheme
 wacep
 */

/*@learnblue: #34c6c6;*/
@learnblue: #264888;
@learnlightblue: @learnblue + #000;

/*Body Set*/

@media (min-width: 979px) {
  body {
    padding-top: 60px;
   }
}

/*Top Navigation*/

.navbar-fixed-top .navbar-inner {

  background-color: @learnblue;
  background-image: -moz-linear-gradient(top, @learnlightblue, @learnblue);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@learnlightblue), to(@learnblue));
  background-image: -webkit-linear-gradient(top, @learnlightblue, @learnblue);
  background-image: -o-linear-gradient(top, @learnlightblue, @learnblue);
  background-image: linear-gradient(to bottom, @learnlightblue, @learnblue);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@learnlightblue', endColorstr='@learnblue', GradientType=0);
  
        
     ul.nav {
       
       a {
         color: #fff;
         text-shadow: none;
          
          &:hover {
            text-decoration: underline;
          }   
                
       }
       
     }
     
     .navbar-text {
       color: #fff;
     }
}

.navbar-text.pull-right {
  padding-right: 20px;
 }


/*Main Menu*/


/*Content*/
