@wacepblue: #264888;
@waceplightblue: @wacepblue + #333;

/*Body Set*/

@media (min-width: 979px) {
  body {
   }
}

.correctanswer {
	color: black;
}
/* note: incorrect answers are simply not shown. */

/*Top Navigation*/

a.brand {width: 100px;}

.navbar .navbar-inner {

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

	background-color: @wacepblue;
	background-image: -moz-linear-gradient(top, @waceplightblue, @wacepblue);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@waceplightblue), to(@wacepblue));
	background-image: -webkit-linear-gradient(top, @waceplightblue, @wacepblue);
	background-image: -o-linear-gradient(top, @waceplightblue, @wacepblue);
	background-image: linear-gradient(to bottom, @waceplightblue, @wacepblue);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@waceplightblue', endColorstr='@wacepblue', GradientType=0);
  
        
     ul.nav {
       
		a {
			color: #fff;
			text-shadow: none;
          
			&:hover {
			text-decoration: underline;
		}   
                
	}
       
}
     
     .navbar-text {
       color: #fff;
     }
}

.navbar-text.pull-right {
  padding-right: 20px;
 }





/*Main Menu*/

#primarynav .navbar-inner {
	background-color: #8fc855;
	background-image: -moz-linear-gradient(top, #8fc855, #86bb50);
	background-image: -ms-linear-gradient(top, #8fc855, #86bb50);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fc855), to(#86bb50));
	background-image: -webkit-linear-gradient(top, #8fc855, #86bb50);
	background-image: -o-linear-gradient(top, #8fc855, #86bb50);
	background-image: linear-gradient(top, #8fc855, #86bb50);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8fc855', endColorstr='#86bb50', GradientType=0);
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
color: #ffffff;
background-color: #efc831;
}

.navbar .nav > li > a {
color: #4374b8;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*Content*/

ul.pager {margin-top: 40px;}

ul.pager li.previous a,
ul.pager li.next a {
    max-width: 46%;
}

#sidebar ul
{
	list-style-type: none;
	outline: none;
}

#sidebar ul li
{
	margin-bottom: 14px;
	outline: none;
}


h1 { color: @wacepblue; }

.navbar .divider-vertical
{
	width: 1px;
	overflow: hidden;
	border-right: 1px solid @waceplightblue;
}

.caption, .caption p, .caption p small {font-size: 11px !important; color: #999 !important;}

.cases .casetitle {font-weight: bold; padding: 10px 0px 10px 0px;}

footer
{
	margin-top: 30px;
	border-top: 1px solid @waceplightblue;
	padding-top: 10px;
}


.credits {border: 1px solid transparent;}
.credits-box {width: 300px; height: 140px; margin-right: 20px;}
.credits-text {display: block; margin-top: 60px;}
.credits-image {}
#logo01 {margin-top: 20px;}
#logo02 {margin-top: 30px;}
#logo03 {margin-top: 0px;}
#logo04 {margin-top: 20px;}
#logo05 {margin-top: 10px;}
#logo06 {margin-top: 45px;}




.cases, .cases .youranswer, .cases .casesanswerdisplay 
{
padding: 15px; 
margin-bottom: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.cases {
background-color: #dff7ff; 
margin-bottom: 5px;
}

.cases .youranswer {
background-color: #eee; 
}
.cases .casesanswerdisplay {
background-color: #fff; 
}

.cases .casetitle, .cases h5 {font-size: 16px;}

.cases textarea {width: 98%;}

.choke-graph-350px {width: 350px;}

/* Forecast Activity */
.forecast-step {
    margin-top: 25px;
}

table#hurricane-data {

    
}
