<div class="timescale_container">

	<div class = "timescale_subcontainer color_key">Graph Legend</div>
	<div class = "timescale_subcontainer inputs">
		<select name ="season_input_select" class="timescale_select season">
			<option value = "">Season</option>
		</select><br/>
		<select name ="graphing_mode_input_select" class="timescale_select graphing_mode">
			<option value = "">Graphing Mode</option>
		</select><br/>
		<select name ="year_input_select" class="timescale_select year">
			<option value = "">Year</option>
		</select><br/>
        <button class="btn btn-large btn-primary reset_button" type="button">Reset</button>

	</div>
	<div class = "timescale_subcontainer graph">
			<img class="timescale_graph" />
	</div>
	<div class="timescale_subcontainer explanation">explanation
		<div class="explanation_copy"></div>
	</div>
	<div class = "timescale_subcontainer variance">variance</div>
	<div class = "timescale_subcontainer year_data">year data</div>
	<div class = "timescale_subcontainer impact_background">impact background</div>
	<div class = "timescale_subcontainer impact_bubble">impact bubble</div>


</div>
