{%ifequal block.topic.slug 'GC' %}
	This image viewer displays global temperature, precipitation and wind climatologies. The climatological period for each variable spans the 30-year period from 1980 to 2009.

	You can define both the season and variable of interest and view the global map.

	There is an additional option to animate the monthly climatology of each variable by clicking on the variable of interest and the “animate” tab. Explore the maps available, and use the information to answer the questions below.
	<br/>
	To get started select a climate variable and a season.
{%endifequal%}


{%ifequal block.topic.slug 'NV' %}
	In this image viewer,  you will see information for three modes of natural climate variability: ENSO, PDO and AMO. For each mode, you can display at least three maps.

	The first is the time series line plot of the index of the chosen mode of variability.

	The second is this same time series, with both positive and negative phases of the oscillation identified (according to the thresholds defined by each index).

	The third map displays the correlation between SST anomalies and the index, which provides an indication of characteristic SST anomaly patterns associated with a mode of variability. Additionally, for ENSO, you will be able to view static SST anomaly maps during the month of December (i.e. near the peak of an event) for selected El Niño or La Niña events.

	There is an additional option to animate these events to observe their growth and decay.
	<br/>
	To get started select a mode of variability and a graphing mode.
{%endifequal%}


{%ifequal block.topic.slug 'TC' %}
	This image viewer displays three types of maps, for each of the three modes of climate variability discussed in detail within this course: ENSO, AMO, and PDO.

	The first map displays a time series of an index for each mode of variability, with both positive and negative phases identified (according to the thresholds defined by each index).

	The second two maps display the correlation values between the mode of variability index selected and temperature or precipitation, at each grid point.
	<br/>
	To get started select a mode of variability and a graphing mode. 
{%endifequal%}