<div class="figure_viewer_container">
	<div class = "figure_viewer_subcontainer help_icon">
		<button class = "btn btn-info">?</button>
	</div>
	<div class = "figure_viewer_subcontainer help_box">
		<div class= "help_copy_container_div">
			Help copy goes here. Lorem ipsum caveat emptor in loco parentis.
			<br />
			<br />
			<br />
			<button class = "btn btn-info help_ok_button">OK</button>
		</div>
	</div>
	<!-- Left side -->
	<div class="show_hide_div left_side">
		<div class = "figure_viewer_subcontainer color_key">
			<img class="figure_viewer_color_key" />
		</div>

		<div class = "figure_viewer_subcontainer graph">
			<div class="figure_viewer_graph_title" >title</div>
			<div class="figure_viewer_graph_y_axis">y axis</div>
			<img class="figure_viewer_graph" />
		</div>

	</div>

	<!-- Right side -->
	<div class = "figure_viewer_subcontainer inputs">
		<div class="topic_label">{{block.topic.slug}}</div>

		{{ block.input_types}}
		{% if 'season' in block.input_types %}
		<select name ="season_input_select" class="figure_viewer_select season">
			<option value = "">Select a Season:</option>
			<option value = ""></option>
		</select><br/>
		{% endif %}


		{% if 'climate_variable' in block.input_types %}
		<select name ="climate_variable_input_select" class="figure_viewer_select climate_variable">
			<option value = "">Select a Climate Variable:</option>
			<option value = ""></option>
		</select><br/>
		{% endif %}

		{% if 'animation' in block.input_types %}
		<div>Animate:</div>
		<input type="radio" name ="animation_radio" class="figure_viewer_radio animation" value="off" checked="checked"/>Off
		<input type="radio" name ="animation_radio" class="figure_viewer_radio animation" value="on"  />On
		<br/>
		{%endif %}
        <button class="btn btn-large btn-primary reset_button" type="button">Reset</button>
	</div>
</div>