<html lang="en">
	<head>
		<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		<link href="/hydrologic_cycle/media/css/weather_dj.css" rel="stylesheet" type="text/css">
		<script src="/site_media/js/underscore-min.js"           type="text/javascript" ></script>
		<script src="/site_media/js/jquery-1.7.2.min.js"></script>
		<script src="/site_media/js/jquery-ui.js"                type="text/javascript" ></script>
		<script src="/site_media/js/backbone-min.js"             type="text/javascript" ></script>
		<script src="/site_media/bootstrap/js/bootstrap.js"         ></script>
		<script src="/hydrologic_cycle/media/js/weather_dj.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/engine.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/scrolling_table.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/observer.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/table.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/graph.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/image.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/view.js"               type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/setup.js"              type="text/javascript" ></script>
	</head>
	<body>
		<div class="weather_dj_container">
			<div id="tabs" >
			  <ul class="nav nav-tabs" >
			    <li><a href="#tabs-1">Image</a></li>
			    <li><a href="#tabs-2">Graph</a></li>
			    <li><a href="#tabs-3">Table</a></li>
			    <li><a href="#tabs-4">Help</a></li>
			  </ul>
			  <div id="tabs-1" class="tab_box">
			    	Image
			  </div>
			  <div id="tabs-2" class="tab_box">
			  		Graph
			  </div>
			  <div id="tabs-3" class="tab_box">
			  		<span class= "table_span"></span>
			  </div>
			  <div id="tabs-4" class="tab_box">
				    Help
			  </div>
			</div><!-- end tabs -->
			
			
			<hr style="clear:both"></hr>

			<div class = "sliders" style="clear:both">
				<div class="span2">buttons</div>
				<div class="span2">a (rain -> ground)</div>
				<div class="span2">b (ground -> air) </div>
				<div class="span2">c (ground -> stream)</div>
				<div class="span2">r (rain prob.)</div>
	
				<hr style="clear:both"></hr>
	
				<div class="span2">
					<button><i class="icon-large icon-play"></i></button>
					<button><i class="icon-large icon-pause"></i></button>
				</div>

				<div class="slider a span2"></div>
				<div class="slider b span2" ></div>
				<div class="slider c span2" ></div>
				<div class="slider r span2" ></div>

			</div>
			 



		</div>
	</body>
</html>