<a name="top"></a>

<h1>Overview</h1>

<hr />

<ol>
<li><a href="#streamflow">Streamflow: The Basics</a></li>
<li><a href="#hydrologic">Hydrologic Modeling</a></li>
<li><a href="#equations">Equations and Variables</a></li>
</ol>

<hr />

<a name="streamflow"></a>
<h2>Streamflow: The Basics</h2>

<p>
Streamflow, or discharge, is the volume of water that moves over a particular point over a fixed period of time. It is expressed as volume per second (e.g. m3/sec), and reflects the amount of water that runs off the land surface plus that which drains from the groundwater supply. The following factors play a role in affecting streamflow, and those in italics are illustrated by this module's interactive model:
</p>

<h3>Natural factors:</h3>

<ul>
<li>Runoff from rainfall and snowmelt</li>
<li>Evaporation from soil and surface-water bodies</li>
<li>Transpiration by vegetation</li>
<li>Ground-water discharge from aquifers</li>
<li>Ground-water recharge from surface-water bodies</li>
<li>Sedimentation of lakes and wetlands</li>
<li>Formation or dissipation of glaciers, snowfields, and permafrost</li>
</ul>

<h3>Anthropogenic factors:</h3>

<ul>
<li>Surface-water withdrawals and trans-basin diversions</li>
<li>River-flow regulation for hydropower and navigation</li>
<li>Construction, removal, and sedimentation of reservoirs and storm water detention ponds</li>
<li>Stream channelization and levee construction</li>
<li>Drainage or restoration of wetlands</li>
<li>Land-use changes such as urbanization that alter rates of erosion, infiltration, overland flow, or evapotranspiration</li>
<li>Wastewater outfalls</li>
<li>Irrigation wastewater return flow</li>
</ul>

<p><a href="#top">Top</a></p>

<hr />

<a name="hydrologic"></a>
<h2>Hydrologic Modeling</h2>

<p>
In its most basic sense, a model can be defined as a combination of equations that simulate the workings of a system. In a hydrological model, the equations represent the passage of water through the hydrologic cycle and the effect of the physical landscape. Of course, changes in one part of the water cycle result in changes to the rest of the system. We can similarly change different variables in the model equation to represent the changes experienced in reality.
</p>

<p>
Hydrologic models are typically used for two purposes. The most common use is to provide estimates of streamflow that will occur in the future (streamflow forecasts) or in places where we do not have streamflow data. The second major use is to estimate the effect of changes to the land surface or to the climate on streamflow. The models provide information about both the volume of streamflow (how much?) and the timing of streamflow (when does the peak flow occur?).
</p>

<p><a href="#top">Top</a></p>

<hr />

<a name="equations"></a>
<h2>Equations and Variables</h2>

<p>
The model user here is the "abc" model developed by Myron Fiering, Harvard University. The exercise is based on material created by Richard Vogel, Tufts University, and Patrick Ray, University of Massachusetts.
</p>

<p>
The following equations will be used to demonstrate the simple conceptual hydrologic model:
</p>

<h3>Land:</h3>

<p>
Rain - Evapotranspiration - Infiltration = Pt - bPt - aPt = Direct Runoff to River
</p>

<h3>Mass Balance on Groundwater (GW):
</h3>

<p>
GW today = GW yesterday + Rain Infiltration today - GW Outflow to River yesterday Gt = Gt-1 + aPt - cGt-1
</p>

<h3>River Discharge:</h3>

<p>
Qt = Pt(1-a-b) + cGt-1
</p>


<h3>Evapotranspiration (A function of temperature):</h3>

<p>
ET = bPt where b =f(T)
</p>

<p>
Also note the following variable definitions:
</p>

<p>
Pt = precipitation during time interval t
</p>

<p>
Gt = groundwater storage at the end of time interval t
</p>

<p>
Qt = streamflow during time interval t leaving the watershed
</p>

<p>
cGt-1 = groundwater contribution to streamflow (or baseflow) during time interval t
</p>

<p>
bPt = evapotranspiration (ET) during time interval t (assumes ET only depends on the supply of moisture, and ignores the equally important influence of energy)
</p>

<p>
Tt = average temperature during time interval t
</p>

<p>
e = saturation vapor pressure at the mean daily temperature
</p>

<p><a href="#top">Top</a></p>