<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/hydrologic_cycle/media/css/weather_dj.css" rel="stylesheet" type="text/css">
		<script src="/site_media/js/jquery-1.7.2.min.js"></script>
		<script src="/site_media/js/jquery-ui.js"                type="text/javascript" ></script>
		<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		<script src="/site_media/bootstrap/js/bootstrap.js"         ></script>
		<script src="/site_media/js/underscore-min.js"           type="text/javascript" ></script>		
		<script src="/site_media/js/backbone-min.js"             type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/highcharts.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/svg.min.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/weather_dj.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/engine.js"              type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/scrolling_table.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/observer.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/table.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/graph.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/scene.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/observers/scene_settings.js"         type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/view.js"               type="text/javascript" ></script>
		<script src="/hydrologic_cycle/media/js/setup.js"              type="text/javascript" ></script> 
	</head>
	<body>
		<div class="weather_dj_container">
			<div id="tabs" >
			  <ul class="nav nav-tabs" >
			    <li class = "active"><a href="#scene_tab" data-toggle="tab">Scene</a></li>
			    <li><a href="#graph_tab" data-toggle="tab">Graph</a></li>
			    <li><a href="#table_tab" data-toggle="tab">Table</a></li>
			    <li><a href="#help_tab"  data-toggle="tab">Help</a></li>
			  </ul>
			  <div id="scene_tab" class="tab_box well">
					<div class="scene" ></div>
			  </div>
			  <div id="graph_tab" class="tab_box  well">
			  		<div class="graph" ></div>
			  </div>
			  <div id="table_tab" class="tab_box  well">
				  	<span class="table_span"></span>
			  </div>
			  <div id="help_tab" class="help_tab tab_box  well">
			  		{%include "weather_dj/weather_dj_help.html"%}
			  </div>

			<div class = "sliders well jquery_sliders" >
				<div class="span1">
					<button class="btn btn-success play_button"><i class="icon-large icon-play icon-white"></i></button>
					<button class="btn btn-info pause_button"><i class="icon-large icon-pause icon-white"></i></button>
				</div>
				<div class="span2">Perviousness (a)
					<br/>
					<div class="slider a"></div>
				</div>
				<div class="span2">Evapo-transpiration (b)
					<br/>
					<div class="slider b" ></div>
				</div>
				<div class="span2">Porosity (c)
					<br/>
					<div class="slider c" ></div>
				</div>
				<div class="span2">Rainfall frequency (r)
					<br/>
					<div class="slider r" ></div>
				</div>
			</div>
		</div>
	</body>
</html>