html, body {
    margin: 20px;
}

a {
	color: black;

	&:hover {
		color: #444;
    }
}

.roulette-modal-dialog {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 30px auto;
	width: 600px;
	background-color: #fff;
	border-radius: 4px;
	z-index: 9;
}

.roulette-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.roulette-modal-header,
.roulette-modal-body,
.roulette-modal-footer {
    padding: 15px;
}
.roulette-modal-header {
    min-height: 16px;
    border-bottom: 1px solid #e5e5e5;
}
.roulette-modal-body {
    max-height: 320px;
    height: 85%;
    position: relative;
    overflow-y: auto;
}
.roulette-modal-footer {
    text-align: right;
}

.roulette-box-info {
	background-color: #333;

    .roulette-box-top,
    .roulette-box-bottom {
        height: 50%;
    }

    button {
        margin: 8px 0px 8px 0px;
    }

    h4 {
        margin-bottom: 8px;
    }
}

.roulette-wet {
    color: green;
}
.roulette-bg-wet {
    background-color: green;
}
.roulette-bg-wet-light {
    background-color: lighten(green, 50%);
    color: black;
}

.roulette-normal {
    color: grey;
}
.roulette-bg-normal {
    background-color: grey;
}
.roulette-bg-normal-light {
    background-color: lighten(grey, 50%);
    color: black;
}

.roulette-dry {
    color: saddlebrown;
}
.roulette-bg-dry {
    background-color: saddlebrown;
}
.roulette-bg-dry-light {
    background-color: lighten(saddlebrown, 50%);
    color: black;
}

ul.roulette-puzzle-list {
    list-style: none;

    li {
        &.active {
            background-color: yellow;
        }

        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.roulette-section {
    clear: both;

    &.roulette-betting-area {
        margin-top: 40px;
    }
    
	#left 
	{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	}

	#right 
	{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	}

    .alert {
        margin-bottom: 0;
    }

    .roulette-box {
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        height: 194px;
					
        input {
            text-align: center;
            width: 80px;
            display: inline-block;
        }

        .roulette-climage-img {
            background-color: white;
            border-radius: 4px;
            margin: 0 auto;
            img {
            }
        }
    }

    .roulette-box button {
        width: 90%;
    }

    .roulette-graph {
    }

    .roulette-spreadsheet {
        background-color: #333;
        color: white;

        h4 {
            padding: 8px 0px 8px 0px;
            text-align: center;
        }

        table {
            table-layout: fixed;
        }

        thead {
            background-color: black;
        }

        th, td {
            border: none;
            padding: 4px;
            &:first-child {
                padding-left: 8px;
            }
        }

        th,
        tbody td:nth-child(1), tbody td:nth-child(2),
        tfoot td:nth-child(1) {
        }
    }
}

.roulette-forecast{
    text-align: center;
    .roulette-observed {
    }
}
