{% extends "base.html" %}
{% block content %}
	{% if error_message %}
	<p class="errornote">{{ error_message }}</p>
	{% endif %}
	<div id="content-main">
		<form method="get" action="https://wind.columbia.edu/login">
		<input type="hidden" name="service" value="cnmtl_full_np" />
		<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/windlogin/?next=/admin/this_is_the_login_form=1" />
		<div><input type="submit" value="Log into the admin pages" /></div>
		</form>
	</div>
{% endblock %}


