{% extends 'base.html' %}


{% block title %}Courses{% endblock %}

{% block pagetitle %}<h1>Courses</h1>{% endblock %}


{% block content %}
<div id="course_page_top_info" >
		Here are four great courses that you can take. You can go at your own pace and take them in any order you'd like.
</div>
<div id="content">
		{% for course in the_courses %}

		<div class = "wacep_course_block well">
		    {{course }} <!-- (id == {{course.id}}) -->
			<a href ="{{course.get_absolute_url}}" class="btn">Begin Course</a>

			{%ifequal course.id 62 %}
				<div>
					<img class ="course_thumbnail" src="http://media-cdn.tripadvisor.com/media/photo-s/01/bc/81/9f/tahaa-vahine-island-thumbnail.jpg" width ="100" height="60"></img>
				</div>
			{%endifequal%}

			{%ifequal course.id 78 %}
				<div>
					<img class ="course_thumbnail" src="http://media-cdn.tripadvisor.com/media/photo-s/01/bc/81/9f/tahaa-vahine-island-thumbnail.jpg" width ="100" height="60"></img>
				</div>
			{%endifequal%}


		</div>
		{%endfor%}
</div>
{% endblock %}


