{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block pagetitle %}<h1>Courses</h1>{% endblock %}

{% block content %}
<p>Caribbean islands have limited water resources, and increasing pressure on those resources from population pressure, urbanization, economic development, and tourism. Climatic variability is magnifying existing pressures. Adaptation to climate is essential, but there are few people in the region trained in how to identify and implement effective strategies to manage climate and water-related risks. </p>
		
<div id="content">
		{% for c in course_info %}
		<div class="wacep_course_block well">
		<div class="row-fluid">
		<div class="span12">
		    <div class="span10">
				<h3>{{c.course }}</h3> <!-- (id == {{course.id}}) -->
				{%if c.blurb%}
					<p>
						{{c.blurb|safe}}
						{% if user.is_staff%}
							<a target="_blank" href= "/edit/{{c.course.slug}}"><i class="icon-large icon-edit"></i></a>
						{%endif %}

					</p>
				{%else %}
					<p>
						{% if user.is_staff%}
							(Add a text block here <a target="_blank" href= "/edit/{{c.course.slug}}"><i class="icon-large icon-edit"></i></a>, and it will be displayed in this space.)
						{%endif %}
					</p>
				{%endif%}
				
				<a href ="{{c.course.get_absolute_url}}" class="btn">Begin Course</a>
			
			</div>
			
		    <div class="span2">
		    
				{%ifequal c.course.id 62 %}
					<img class ="course_thumbnail" src="http://media-cdn.tripadvisor.com/media/photo-s/01/bc/81/9f/tahaa-vahine-island-thumbnail.jpg" width ="100" height="60"></img>
				{%endifequal%}
				
				{%ifequal c.course.id 78 %}
					<img class ="course_thumbnail" src="http://media-cdn.tripadvisor.com/media/photo-s/01/bc/81/9f/tahaa-vahine-island-thumbnail.jpg" width ="100" height="60"></img>
				{%endifequal%}
		
			</div>
			</div>
			</div>
		
		</div>
		{%endfor%}

</div>

{% endblock %}


