<ul id="accordion" style="font-weight: bold;">

	{% for s in submodule.get_descendants %}
	
	{% ifequal s.id submodule.id %}
	
	{% else %}
	
		<li class="menu-{{s.depth}}">
		
		{% ifnotequal s.id section.id %}
		
		<a href="{{menu_base}}{{s.get_absolute_url}}">
		
		{% else %}
		
		{% endifnotequal %}
		
		{{s.label}}
		
		{% ifnotequal s.id section.id %}
		
		</a>
		
		{% else %}
		
		{% endifnotequal %}
		
		{% if s.get_children %}
		
			<ul id="section-ul-{{s.id}}" style="font-weight: normal !important; margin-top: 10px;">
			
			{% else %}
			
			{% if s.is_last_child %}
			
			{% for lc in s.closing_children %}
			
			</ul>
		
		{% endfor %}
		
		{% endif %}
		
		{% endif %}
		
		{% if s.get_children %}
		
		{% else %}
		
		</li>
	
	{% endif%}
	
	{% endifequal %}
	
	{% endfor %}

</ul>
