{% extends 'base.html' %}
{% load render %}

{% block js %}
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
    
    <script type="text/javascript" src="/site_media/jquery/js/jquery-ui-1.9.1.custom.min.js"></script>
    
    <!-- menu collapse-->
    <script>
    $(function() {
    	jQuery("#accordion").accordion({
    		heightStyle: "content",
    		active: {{sub_submodule_index}},
    		disabled: true
    	});
    	jQuery('#accordion a').click(function (event) {    	    
    	    event.preventDefault();
    	    event.stopPropagation();
    		window.location = event.target.href;
    		return false;
    	});
    });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
    
            jQuery("form").submit(function() {
                var valid = true;
    
                var children = jQuery(this).find("input,textarea,select");
                jQuery.each(children, function() {
                    if (valid && jQuery(this).is(":visible")) {
                        if (this.tagName === 'INPUT' && this.type === 'text' ||
                                this.tagName === 'TEXTAREA') {
                            valid = jQuery(this).val().trim().length > 0;
                        }
    
                        if (this.tagName === 'SELECT') {
                            var value = jQuery(this).val()
                            valid = value !== undefined && value.length > 0 && jQuery(this).val().trim() !== '-----';
                        }
    
                        if (this.type === 'checkbox' || this.type === 'radio') {
                            // one in the group needs to be checked
                            var selector = 'input[name=' + jQuery(this).attr("name") + ']';
                            valid = jQuery(selector).is(":checked");
                        }
                    }
                });
    
                if (!valid) {
                    alert("Please complete all form fields before continuing.");
                }
    
                return valid;
            });
        });
    </script>
  
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}


{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h1>{{section.label}}</h1>{% endblock %}


{% block sidebar %}
      {% if submodule.get_children %}
          <div class="span3" id="sidebar">
              <!-- ###### Secondary Navigation ###### -->
              {% include "main/menu.html" %}
          </div>
      {%endif %}
{% endblock sidebar%}




{% block primarynav %}
<div class="navbar" id="primarynav">
	<div class="navbar-inner">
		<div class="container">
    
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			
			<div class="nav-collapse collapse">
			
				<ul class="nav">   
				{% block primarynavtabs %}
				{% endblock %}
				{% block primarynavtabsextra %}{% endblock %}
				</ul>
				
				<ul class="nav">
				{% for section in modules %}
				{% ifequal section.id module.id %}
				{% for wacep_module in section.get_children %}
				<li {%ifequal wacep_module submodule%}class="active"{%endifequal%}><a href="{{wacep_module.get_absolute_url}}">{{wacep_module.label}}</a></li>
				{%endfor%}
				{% endifequal %}
				{% endfor %}
				</ul>
				
				<ul class="nav pull-right">
				{% if user.is_staff %}
				<li><a href="/edit{{section.get_absolute_url|default:"/"}}">Edit</a></li>
				{%endif %}
				</ul>
			
			</div>  
      
    		</div>
    		
  </div>
</div>
{% endblock %}


{% block content %}
<div id="content">
{% if needs_submit %}
{% if is_submitted %}
{% else %}
<form action="." method="post">
{% endif %}
{% endif %}


{% for block in section.pageblock_set.all %}
<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% render block %}
</div>
{% endfor %}


{% if needs_submit %}
{% if request.user.is_anonymous %}
{% else %}

{% if is_submitted %}
<form action="." method="post">
<input type="hidden" name="action" value="reset" />
{% if user.is_staff %}
    <input type="submit" value="Clear your answers (staff only)" class="btn" />
{% endif %}
</form>
{% else %}
<input type="submit" value="Submit" class="btn btn-primary" />

</form>
{% endif %}
{% endif %}
{% endif %}
</div>
{% endblock %}

{% block content-nav %}
<ul class="pager">
{% if section.get_previous %}
  <li class="previous">
		<a href="{{section.get_previous.get_absolute_url}}">&larr; {{section.get_previous.label}}</a>
  </li>
{% endif %}

{% if section.get_next %}
{% with section.get_next as next_section %}
<li class="next"><a href="{{section.get_next.get_absolute_url}}">{{section.get_next.label}} &rarr;</a></li>
{% endwith %}
{% endif %}
</ul>
{% endblock %}
