{% extends 'base.html' %}
{% load render %}

{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}
<!-- menu collapse-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
	jQuery("#accordion").accordion({
		heightStyle: "content",
		active: {{sub_submodule_index}},
	});
	jQuery('a').click(function (event) {
	    event.stopImmediatePropagation();
		window.location = event.target.href;
		return false;
	});
});
</script>  
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}


{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h1>{{section.label}}</h1>{% endblock %}


{% block sidebar %}
      {% if submodule.get_children %}
          <div class="span3" id="sidebar">
              <!-- ###### Secondary Navigation ###### -->
              {% include "main/menu.html" %}
          </div>
      {%endif %}
{% endblock sidebar%}




{% block primarynav %}
<div class="navbar" id="primarynav">
	<div class="navbar-inner">
		<div class="container">
    
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			
			<div class="nav-collapse collapse">
			
				<ul class="nav">   
				{% block primarynavtabs %}
				{% endblock %}
				{% block primarynavtabsextra %}{% endblock %}
				</ul>
				
				<ul class="nav">
				{% for section in modules %}
				{% ifequal section.id module.id %}
				{% for wacep_module in section.get_children %}
				<li {%ifequal wacep_module submodule%}class="active"{%endifequal%}><a href="{{wacep_module.get_absolute_url}}">{{wacep_module.label}}</a></li>
				{%endfor%}
				{% endifequal %}
				{% endfor %}
				</ul>
				
				<ul class="nav pull-right">
				{% if user.is_staff %}
				<li><a href="/edit{{section.get_absolute_url|default:"/"}}">Edit</a></li>
				{%endif %}
				</ul>
			
			</div>  
      
    		</div>
    		
  </div>
</div>
{% endblock %}


{% block content %}
<div id="content">
{% if needs_submit %}
{% if is_submitted %}
{% else %}
<form action="." method="post">
{% endif %}
{% endif %}


{% for block in section.pageblock_set.all %}
<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% render block %}
</div>
{% endfor %}


{% if needs_submit %}
{% if request.user.is_anonymous %}
{% else %}

{% if is_submitted %}
<form action="." method="post">
<input type="hidden" name="action" value="reset" />
<input type="submit" value="clear your answers and try again" class="btn" />
</form>
{% else %}
<input type="submit" value="Submit" class="btn btn-primary" />

</form>
{% endif %}
{% endif %}
{% endif %}
</div>
{% endblock %}

{% block content-nav %}
<ul class="pager">
{% if section.get_previous %}
  <li class="previous">
		<a href="{{section.get_previous.get_absolute_url}}">&larr; {{section.get_previous.label}}</a>
  </li>
{% endif %}

{% if section.get_next %}
{% with section.get_next as next_section %}
<li class="next"><a href="{{section.get_next.get_absolute_url}}">{{section.get_next.label}} &rarr;</a></li>
{% endwith %}
{% endif %}
</ul>
{% endblock %}
