.certificate-div {
	  position: relative;
	color: #375b8e;
}

@media screen {


	.row-fluid {min-width: 1200px;}
	
	.certificate-div  {
	}
	
	.certificate-div .certificate-text 
	{
	position: absolute;
	top: 140px;
	left: 330px;
	text-align: center;
	width: 420px;
	}
	
	.navbar {
  display:none;
}

}

@media print {

	.certificate-div  {
	margin-top: 25%;
	  -webkit-transform: rotate(-90deg); 
	  -moz-transform:rotate(-90deg);
	  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	
	.certificate-div .certificate-text 
	{
	position: absolute;
	top: 120px;
	left: 270px;
	text-align: center;
	width: 350px;
	font-size: 10px;
	line-height: 11px;
	}
	
	.navbar {
	  display:none;
	}

}