{% load markup %}
{% if block.rhetorical %}
      <div class="casesanswerdisplay">
        <a href="#q{{question.id}}" class="moretoggle">Show answer &gt;&gt;</a>
        <div id="q{{question.id}}" class="toggleable">
          <p>
            {% if question.correct_answer_letter %}
              <i>The correct answer is {{question.correct_answer_number|add:"1"}}</i>
            {% endif %} 
            {{question.explanation|markdown}}
          </p>
        </div>
      </div>
{% else %}
   <div class="casesanswerdisplay">
        <p><i>You selected
        {% for answer in question.answer_set.all %}
            {% if response %}
                {% ifequal response.value answer.value %}
                    #{{forloop.counter}}.
                {% else %}
                {% endifequal %}
            {% endif %}
        {% endfor %}
        
        The correct answer:</i></p>
          <ul style="list-style-type: none">
            {% for answer in question.answer_set.all %}
              {% if answer.correct %}
                <li>
                  <span class="correctanswer">
                    <span class="answer-inner">{{forloop.counter}}. {{answer.label}}</span>
                  </span>
                </li>
                {%endif%}
            {% endfor %}
          </ul>
          <p>{{question.explanation|markdown}}</p>
     </div>
{% endif %}
