{% extends 'base.html' %}



{% block content %}


    <form action ="/_certificates/update_certificates_admin/" method ="post" id = "certificates_form"> 
                    
        {% csrf_token %}
        
        <h3>Certificates</h3>

        <table class = "certificates_table">
			<tr>
				<td>
				id
				</td>
				<td>
				first
				</td>
				<td>
				last
				</td>
			{% for course in the_courses %}				
				<td>
					{{course}}
				</td>
			{%endfor%}
		</tr>

	{%for st in the_students%}
			<tr>
				<td>
				{{st.id}}
				</td>
				<td>
				{{st.first_name}}
				</td>
				<td>
			{{st.last_name}}
				</td>
			{% for course in the_courses %}				
				<td>
				{% if st.id in course.cached_graduate_user_ids %}
					<input type="checkbox" checked = "checked" name="{{st.id}}:{{course.id}}">
				{%else %}
					<input type="checkbox"                     name="{{st.id}}:{{course.id}}">
				{%endif %}
				</td>
			{%endfor%}
		</tr>
	{%endfor%}
</table>
    <td>
        <div class="btn btn-large" onclick="javascript:jQuery('#certificates_form').submit()">Save</div>
    </td>
</form>
{%endblock content %}