{% extends 'base.html' %}

{% block css %}
	<link href="/_certificates/media/css/certificates.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}{%endblock sidebar%}

{% block content %}
    <div class = "certificate-div">
    
		<div class="certificate-art">
			<img src="/site_media/img/background_certificate.jpg" />
		</div>
	
		<div class="certificate-text">
		
			<h2>Certificate of Completion</h2>
			
			<p>
			This is to certify that 
			<br/>
			<strong>{{certificate.user.first_name}} {{certificate.user.last_name}}</strong>
			<br/>
			has successfully completed the Water and Climate Education Program (WACEP) course 
			<br/>
			<strong>{{certificate.course}}</strong>
			<br/>			
			on {{certificate.date}}
			</p>
			
		</div>
	
	</div>
{%endblock content %}
{% block footer %} {%endblock footer %}