{% extends 'base.html' %}

{% block sidebar %}{%endblock sidebar%}

{% block content %}

    <form action ="/_certificates/update_certificates_admin/" method ="post" id = "certificates_form">        
    
	{% csrf_token %}
        
	<div class = "row">
        
	        <h1>Certification</h1>
	        
		</div>
		
	<div class = "row">
	
		<p>
		On this page, you can grant participants the ability to print a certificate of participation for a course they completed.
		</p>
		
		<p>
		To do so, check the box next to a participant's name under the column of the course. Remember to click on the <b>Save</b> button at the bottom of the page for the change to take effect.
		</p>
		
		<p>
		If a participant has a check for all courses, they will automatically have access to print a certificate of WACEP participation.	    	
		</p>

	    </div>
	    
	<div class="row well" style="background-color: #efc831 !important; font-weight: bold;">
			<div class="span3">
				Name
			</div>
			{% for course in the_courses %}				
				<div class="span2">
					{{course}}
				</div>
			{%endfor%}
		</div>

	{%for st in the_students%}
	<div class="row well">
			<div class="span3">
				{{st.first_name}} {{st.last_name}}
			</div>
			{% for course in the_courses %}				
				<div class="span2">
					{% if st.id in course.cached_student_user_ids %}
						{% if st.id in course.cached_graduate_user_ids %}
							<input type="checkbox" checked = "checked" name="{{st.id}}:{{course.id}}" title="Uncheck if {{user}} has not graduated from {{course}}"></input>
						{%else %}
							<input type="checkbox" name="{{st.id}}:{{course.id}}"  title="Check to graduate {{st}} from {{course}}"></input>
						{%endif %}
					{%endif %}
				</div>
			{%endfor%}
		</div>
	{%endfor%}
	
	<div class="row">
	
		<div class="span2">
			<div class="btn btn-primary" onclick="javascript:jQuery('#certificates_form').submit()">Save</div>
		</div>
	
	</div>

</form>

{%endblock content %}
