{% extends 'base.html' %}
{% block sidebar %}{%endblock sidebar%}

{% block content %}
    <form action ="/_certificates/update_certificates_admin/" method ="post" id = "certificates_form">                     
        {% csrf_token %}
        <div class = "row well">
	        <h1>Roster</h1>
		</div>
		<div class = "row well">
	    	Check the boxes next to each student to give them access to a course. If you need to add students, remove them, change their passwords and so on, go to "Adminster" in the menu above. To certify that a student graduated from a class and unlock their certificate so they can print it, click "Certificates."
	    </div>
		<div class="row well">
			<div class="span3">
				Name
			</div>
			{% for course in the_courses %}				
				<div class="span2">
					{{course}}
				</div>
			{%endfor%}
		</div>

	{%for st in the_students%}
		<div class="row well">
			<div class="span3">
				{{st.first_name}} {{st.last_name}}
			</div>
			{% for course in the_courses %}				
				<div class="span2">
					{% if st.id in course.cached_student_user_ids %}
						<input type="checkbox" checked = "checked" name="{{st.id}}:{{course.id}}" title="{{course}}"></input>
					{%else %}
						<input type="checkbox"                     name="{{st.id}}:{{course.id}}"  title="{{course}}"></input>
					{%endif %}
				</div>
			{%endfor%}
		</div>
	{%endfor%}

<div class="row">
	<div class="span2">
		<div class="btn btn-large" onclick="javascript:jQuery('#certificates_form').submit()">Save</div>
	</div>
</div>

</form>
{%endblock content %}