{% extends 'base.html' %}
{% block sidebar %}{%endblock sidebar%}

{% block content %}
    <form action ="/_certificates/update_roster/" method ="post" id = "roster_form">
        {% csrf_token %}
        <div class = "row well">
	        <h1>Roster</h1>
		</div>
		<div class = "row well">
	    	Check the boxes next to each student to give them access to a course. If you need to add students, remove them, change their passwords and so on, go to <a href= "/admin/auth/user/">Administer</a>. To certify that a student graduated from a class and unlock their certificate so they can print it, go to <a href="/_certificates/certificates_admin/">Certificates</a>.
	    </div>
		<div class="row well">
			<div class="span3">
				Name
			</div>
			{% for course in the_courses %}				
				<div class="span2">
					{{course}}
				</div>
			{%endfor%}
		</div>

	{%for st in the_students%}
		<div class="row well">
			<div class="span3">
				{{st.first_name}} {{st.last_name}}
			</div>
			{% for course in the_courses %}
				<div class="span2">
					{% if st.id in course.cached_graduate_user_ids %}
						<!-- this person graduated, so let's not allow their access to be removed. -->
						{% if st.id in course.cached_student_user_ids %}
							<input type="checkbox" checked = "checked" disabled = "disabled" name="{{st.id}}:{{course.id}}" title="{{course}}"></input>
						{%else %}
							<input type="checkbox"                      disabled = "disabled" name="{{st.id}}:{{course.id}}"  title="{{course}}"></input>
						{%endif %}
						<input type="checkbox" checked = "checked" style="display:none" name="{{st.id}}:{{course.id}}" title="{{course}}"></input>
						Graduated
					{%else  %}
						{% if st.id in course.cached_student_user_ids %}
							<input type="checkbox" checked = "checked" name="{{st.id}}:{{course.id}}" title="{{course}}"></input>
						{%else %}
							<input type="checkbox"                     name="{{st.id}}:{{course.id}}"  title="{{course}}"></input>
						{%endif %}
					{%endif %}

				</div>
			{%endfor%}
		</div>
	{%endfor%}

<div class="row">
	<div class="span2">
		<div class="btn btn-large" onclick="javascript:jQuery('#roster_form').submit()">Save</div>
	</div>
</div>

</form>
{%endblock content %}