{{#modal-dialog action="closeModal"}}
    <div class="roulette-modal-header">
        <h4>About Weather Roulette</h4>
    </div>
    <div class="roulette-modal-body">
        <p>
            Weather Roulette teaches users about forecast quality and forecast value. As you play, think about the answers to the questions: Do the forecasts correspond well with the observations? Do the forecasts enable beneficial decisions?
        </p>
        <p>
            The goal of the game is to develop a sensible strategy for allocating investments at the beginning of a season based on the forecast information provided. In this game, a series of seasonal forecasts will be issued, and the participants will be required to make investment choices based on the forecasts. The forecasts are presented in
            <a target="_blank"
                href="https://iri.columbia.edu/our-expertise/climate/forecasts/seasonal-climate-forecasts"
                data-title="Examples of real seasonal precipitation forecasts can be seen here: https://iri.columbia.edu/our-expertise/climate/forecasts/seasonal-climate-forecasts"
                class="roulette-tooltip-me"
                >standard format</a>,
            with three probabilities indicating the chances of "below-normal", "normal" and "above-normal" rainfall. The participants will make profits or losses depending upon the amount invested on the category that occurs. Their profits and losses will be accumulated over the course of the game. The game can be played by a single individual but is best when played by a group working in pairs or small teams.
        </p>
    </div>
    <div class="roulette-modal-footer">
        <button {{action "closeModal"}}
            class="btn btn-primary">
            OK
        </button>
    </div>
{{/modal-dialog}}
