{{#modal-dialog}}
    <div class="roulette-modal-header">
        <h4>Unauthorized</h4>
    </div>
    <div class="roulette-modal-body">
        <p>
        You need to log in to <a href="/">WACEP</a> to play Weather Roulette.
        </p>
    </div>
    <div class="roulette-modal-footer">
        <a class="btn btn-primary" href="/">Log In</a>
    </div>
{{/modal-dialog}}
