<p class="lead" style="margin-top: 50px;">
    Welcome to Weather Roulette, an interactive game designed to teach users about forecast quality and forecast value. The user in this game plays a store owner who sells weather-related gear (umbrellas, shirts, and sun hats). The participant has to decide how much of each type of gear to stock based on a seasonal rainfall forecast, and the participant's sales depend on whether a season has below-average, average, or above-average rainfall. When played in a group, the person or team with the most profit after ten years wins.
</p>

{{outlet}}
