{{#modal-dialog}}
    <div class="roulette-modal-header">
        <h4>Bankrupt</h4>
    </div>
    <div class="roulette-modal-body">
        {{#if isPracticeGame}}
        <p>
            You've run out of money! Did you put all of your sun-hats (or umbrellas, or shirts) in one basket? Keep in mind that spending all the money on the one category most likely to occur can turn a large profit, but the chance of making a massive profit is very small, and the chance of going bankrupt is high.<br />
            How might you spend your money to reduce risk of bankruptcy? Try distributing your money over all categories.
        </p>
        {{else}}
        <p>
            Did you put all of your sun-hats (or umbrellas, or shirts) in one basket? You've run out of money! Unfortunately, you've gone bankrupt and have to close your business.
        </p>
        <div class="roulette-lessons-learned">
            <p>
                As you may have noticed during the game, seasonal probabilistic forecasts are sometimes "wrong" in the sense that the highest probability category does not always verify.  There will likely always be some years with losses, and that’s why it’s important to develop a good long-term investment strategy. This is not unlike many stock market investments; with the exception of those who take high risks, investors typically invest in stocks that they think will gain steadily over time. It is assumed there may be some occasional losses, but overall the trend will be increased growth of the stock.
            </p>

            <p>
                Even if a forecast is sometimes “wrong” (wrong is in quotes because due to the probabilistic nature of the forecast, all outcomes usually have some likelihood attached to them), those that are "right" most of the time are considered reliable forecast. If we can assume the forecast is reliable (e.g. a category forecast for 40% likelihood actually occurs 40% of the time) you can maximize growth in profits by using the Kelly strategy.  The Kelly strategy involves allocating investments directly proportional to the forecast categories (e.g. putting 40% of your investment to category forecast with 40% likelihood, etc). This strategy has been mathematically demonstrated to give you the maximum GROWTH of profits but not maximum EXPECTED profit.  The maximum expected profit could be reached by betting 100% on the category with the highest probability.  The problem with this strategy is that although it can turn a very large profit, the chance of making a massive profit is very small, and the chance of going bankrupt is high.
            </p>

            <p>
                Without any forecast information, all three categories are inherently equally likely. If you invest according to these climatological probabilities (33% in each category), you won't gain a profit, but you are also not likely to lose much money. Using information from the forecasts, you can profit. Although probabilistic forecasts will occasionally result in loss-making decisions, the net result over time should produce reliable profit.
            </p>
        </div>
        {{/if}}
    </div>
    <div class="roulette-modal-footer">
        <a class="btn btn-primary" {{action "playPuzzle" model}}>Play Again</a>
    </div>
{{/modal-dialog}}
