{{#modal-dialog}}
    <div class="roulette-modal-header">
        <h4>Bankrupt</h4>
    </div>
    <div class="roulette-modal-body">
        <p>
            Sorry, you're out of money!
        </p>
        <h3>Lessons Learned</h3>
        <div class="well">
            <p>
                Here are some lessons for next time.
            </p>
            <ul>
                <li>Lesson 1</li>
                <li>Lesson 2</li>
            </ul>
        </div>
    </div>
    <div class="roulette-modal-footer">
        <a class="btn btn-primary" {{action "playPuzzle" model}}>Play Again</a>
    </div>
{{/modal-dialog}}
