{{#modal-dialog}}
    <div class="roulette-modal-header">
        <h4>Bankrupt</h4>
    </div>
    <div class="roulette-modal-body">
        {{#if isPracticeGame}}
        <p>
            You've run out of money! Did you put all of your sun-hats (or umbrellas, or shirts) in one basket? Keep in mind that spending all the money on the one category most likely to occur can turn a large profit, but the chance of making a massive profit is very small, and the chance of going bankrupt is high.<br />
            How might you spend your money to reduce risk of bankruptcy? Try distributing your money over all categories.
        </p>
        {{else}}
        <p>
            Did you put all of your sun-hats (or umbrellas, or shirts) in one basket? You've run out of money! Unfortunately, you've gone bankrupt and have to close your business.
        </p>
        {{/if}}
    </div>
    <div class="roulette-modal-footer">
        {{#if isCaseysGame}}
            <a class="btn btn-primary" {{action "closeModal"}}>OK</a>
        {{else}}
            <a class="btn btn-primary" {{action "playPuzzle" model}}>Play Again</a>
        {{/if}}
    </div>
{{/modal-dialog}}
