<div class="roulette-spreadsheet">
    <table class="table">
        <thead>
            <tr>
            {{#each year in years}}
                <th colspan="3">{{year}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr class="roulette-legend-row">
                {{#each year in years}}
                    <td>?</td>
                    <td>Inv.</td>
                    <td class="roulette-return">$</td>
                {{/each}}
            </tr>
            <tr class="roulette-wet-row">
                {{#each year in years}}
                    <td class="roulette-bg-wet-light">25%</td>
                    <td class="roulette-investment">$100</td>
                    <td class="roulette-return">$300</td>
                {{/each}}
            </tr>
            <tr class="roulette-normal-row">
                {{#each year in years}}
                    <td class="roulette-bg-normal-light">25%</td>
                    <td class="roulette-investment">$100</td>
                    <td class="roulette-return">$0</td>
                {{/each}}
            </tr>
            <tr class="roulette-dry-row">
                {{#each year in years}}
                    <td class="roulette-bg-dry-light">50%</td>
                    <td class="roulette-investment">$200</td>
                    <td class="roulette-return">$0</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
