{% load compress %}

<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="wacep">
	<meta name="author" content="CCNMTL">
	
	<title>WACEP | {% block title %}{% endblock %}</title>
	
	{% compress css %}
	<link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	{% endcompress %}
	<link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"> 
	
	{% compress css %}
	<link href="/site_media/css/main.less" rel="stylesheet" type="text/less">
	{% endcompress %}

	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	
	{% block css %}{% endblock %}
	
	<script src="/site_media/js/jquery-1.7.2.min.js"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	{% block feeds %}{% endblock %}
	
</head>

<body>

{% block topnavbar %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
			<ul class="nav">
				<li>
			{% if request.user.is_anonymous %}
				<a class="brand" href="/"><img src="http://waceponline.org/site_media/splash/img/wacep_logo_horizontal.png" /></a>
			{%else %}
				<a class="brand" href="/welcome/"><img src="http://waceponline.org/site_media/splash/img/wacep_logo_horizontal.png" /></a>
			{%endif%}
				</li>
				{% block topnavbarleftitems %}{% endblock %}
			</ul>
			
			<ul class="nav pull-right">
				<li><a href="/about/">About</a></li>
				<li><a href="/help/">Help</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/credits/">Credits</a></li>
				<li class="divider-vertical"></li>
				
				{% block topnavbarrightitems %}{% endblock %}
				{% block usernav %}
				{% if request.user.is_anonymous %}
					{%block loginlink %}
					<li><a href="/accounts/login/" class="">Log In</a></li>
					{%endblock loginlink %}
				{% else %}	  
				
				{% if user.is_staff %}
				<li><a href="/admin/">Administer</a></li>
				{%endif %}
				<li><a href ="/courses/">Courses</a></li>
				
				{%if user.is_staff%}
					<li><a href="/_certificates/roster/">Roster</a></li>
					<li><a href="/_certificates/certificates_admin/">Certificates</a></li>
				{%else %}
					<li><a href="/_certificates/student_certificates/">Certificates for {{user}}</a></li>
				{%endif%}
				<li><a href="/logout/" >Log Out {{user}}</a>

				{% endif %}
				{% endblock %}
				
			</ul>
		</div>
	</div>
</div>
{% endblock %}

<div class="container" id="outer-container">

{% block masthead %}
  {%block primarynav %}
  {%endblock%}
{% endblock %}

<div class="container-fluid" id="content">

	<div class="row-fluid">
		
		{% block sidebar %}
			<div class="span3" id="sidebar">
			{% block sidenav %}{% endblock %}
			</div>
		{% endblock sidebar%}
		<div class="span9" id="right-content">
		{% block pagetitle %}{% endblock %}
		{% block content %}{% endblock %}
		{% block content-nav %}{% endblock %}
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>

{% block footer %}
  <footer class="footer navbar-fixed-bottom hidden-phone">
    <!--<img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly pull-right" />-->
  </footer>
{% endblock %}

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% compress js %}
<script src="/site_media/bootstrap/js/bootstrap.js"></script>
{% endcompress %}

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-error" style="position: fixed; right: 0px; bottom: 0px;">
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}
</body>
</html>
