<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li>
			{% if request.user.is_anonymous %}
				<a class="brand" href="/"><img src="http://waceponline.org/site_media/splash/img/wacep_logo_horizontal.png" /></a>
			{%else %}
				<a class="brand" href="/welcome/"><img src="http://waceponline.org/site_media/splash/img/wacep_logo_horizontal.png" /></a>
			{%endif%}
				</li>
				{% block topnavbarleftitems %}{% endblock %}
			</ul>
			
			<ul class="nav pull-right">

				{% block topnavbarrightitems %}
				{% endblock %}
				
				{% block usernav %}
				
				{% if request.user.is_anonymous %}
					{%block loginlink %}
					<li><a href="/accounts/login/" class="">Log In</a></li>
					{%endblock loginlink %}
				{% else %}	  
				
				{% if user.is_staff %}
				<li><a href="/admin/auth/user/?is_staff__exact=0">Administration</a></li>
				{%endif %}
				
				{%if user.is_staff%}
				
					<li><a href="/_certificates/roster/">Roster</a></li>
					
					<li><a href="/_certificates/certificates_admin/">Certification</a></li>
					
					<li class="divider-vertical"></li>
				
					<li><a href ="/courses/">Courses</a></li>
					
				{%else %}
				
					<li><a href ="/courses/">My Courses</a></li>
				
					<li class="divider-vertical"></li>
				
					<li><a href="/_certificates/student_certificates/">My Certificates</a></li>
										
				{%endif%}
				
				
				<li class="divider-vertical"></li>
				
				<li><a href ="/">Hello, {{user}}!</a></li>
				
				{% if not user.is_staff %}
					<li><a href="/password_change/">Change My Password</a> </li>
				{%endif %}
				
				<li><a href="/logout/" >Log Out</a>
				
				{% endif %}
				
				{% endblock %}
			
			</ul>
		</div>
	</div>
</div>