<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to WACEP</title>
	<link rel="stylesheet" href="/site_media/splash/css/bootstrap.css" />
	<link rel="stylesheet" href="/site_media/splash/css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="/site_media/splash/css/cerulean.css" />
	<link rel="stylesheet" href="/site_media/splash/css/custom.css" />
<!-- HTML5 shim for IE backwards compatibility -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container-fluid">

	<nav class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="#"><img src="/site_media/splash/img/wacep_logo_horizontal.png" alt="WACEP"/></a> 
	    <!--
	    <ul class="nav">
			<li class="active"><a href="#">Link</a> </li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
	    -->
		<a href="http://www.waceponline.org/login/" class="btn btn-primary pull-right">Log In</a>
	</div>
	</nav>
	
	<div class="row-fluid">

	
		<header class="span12 hero-unit">
		<h1>
			Welcome to WACEP
		</h1>
		<p>
		The Water and Climate Education Program (WACEP) develops educational programs, research partnerships, and regional collaboration for professionals and upper-level students on water resource and climate risk issues.
		</p>
		<p>
		<a href="http://ccnmtl.columbia.edu/portfolio/sciences/water_and_climate_education_program.html" class="btn btn-primary btn-large">Coming Soon</a>
		</p>
		</header> 
		
	</div>
	<div class="row-fluid">
		<ul class="thumbnails">
		
			<li class="span4"> 
			<article class="thumbnail"> 
			<img src="/site_media/splash/img/wacep_vertical_black.jpg" alt="WACEP" /> 
			<h3>
				Under Construction
			</h3>
			<p>
			WACEP is funded by the Department of State (DOS) through the United States Agency for International Development (USAID) and Higher Education For Development (HED). The project is a collaborative effort of The Caribbean Institute for Meteorology and Hydrology (CIMH), the University of the West Indies (UWI), the Columbia Center for New Media Teaching and Learning (CCNMTL), the Columbia Water Center, and the Columbia International Research Institute for Climate and Society (IRI).
			</p>
			</article> 
			</li>
			
			<li class="span4"> 
			<article class="thumbnail"> 
			<img src="/site_media/splash/img/barbados.jpg" alt="Barbados" /> 
			<h3>
				Caribbean-centric
			</h3>
			<p>
			In the Caribbean, most states rely on a single source of water for all domestic, agricultural, and industrial needs. The challenge of managing this limited resource is worsened by variations in precipitation brought on by climate change. Furthermore, the region lacks the skilled water resource and climate risk managers needed to develop effective strategies to cope with these problems.
			</p>
			</article> 
			</li>
			
			<li class="span4"> 
			<article class="thumbnail"> 
			<img src="/site_media/splash/img/columbia.jpg" alt="Columbia" /> 
			<h3>
				Real-World Education
			</h3>
			<p>
			The Water and Climate Education Program (WACEP) aims to tackle these issues by developing educational programs, research partnerships, and regional collaboration for professionals and upper-level students on water resource and climate risk issues. The first of four courses will be offered in September 2013.
			</p>
			</article> 
			</li>
			
		</ul>
	</div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script> <script src="/site_media/splash/js/bootstrap.min.js"></script> 
</body>
</html>
