body {background-color: #d6eefb;}

a.brand {width: 140px;}

header {background-image: url(../img/sunset_barbados.jpg);background-repeat: no-repeat;background-position: bottom center;}

.hero-unit {color: #fff; }

.thumbnail {background-color: #fff;}
