#sidebarleft, h1.section-label-header, #sidebar { display: none; }

header#masthead { height: 60px !important; }

.figure_viewer_container
{
	background-color: #548399;
	position: relative;
	
}

.figure_viewer_subcontainer
{
	background-color: white;
	position: absolute;
	left: 100px;
	top: 200px;
	width: 100px;
	height: 100px;
}

.show_hide_div { display: none; }

.figure_viewer_select, .reset_button
{
	margin-left: 10px;
	margin-top: 10px;
}

.explanation_copy
{
	margin-left: 10px;
	margin-right: 10px;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 10px 20px 10px 10px;
	overflow: auto;
}

.edit_this_state { margin-left: 10px; }

.figure_viewer_subcontainer.color_key
{
	left: 1px;
	top: 1px;
	width: 820px;
	height: 100px;
}

.figure_viewer_subcontainer.inputs
{
	left: 836px;
	top: 1px;
	width: 240px;
	height: 235px;
}

.figure_viewer_subcontainer.graph
{
	left: 1px;
	top: 115px;
	width: 820px;
	height: 400px;
}

.figure_viewer_subcontainer.explanation
{
	left: 836px;
	top: 237px;
	width: 240px;
	height: 235px;
}

/* help */
.figure_viewer_subcontainer.help_icon
{
	cursor: pointer;
	left: 1100px;
	top: -30px;
	width: 30px;
	height: 30px;
}

.figure_viewer_subcontainer.help_box
{
	display: none;
	background-color: white;
	width: 500px;
	height: 300px;
	z-index: 500;
	border: solid lightblue 3px;
}

.help_copy_container_div {
	margin: 30px;
	font-size: 0.9em;
}

/* hiding inputs */
.animate_buttons_span { display: none; }


.figure_viewer_container.topic_GC {height: 473px; width: 749px;}
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.explanation {height: 235px; left: 508px;}
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.color_key {width: 506px; height: 58px;}
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.graph {top: 60px; width: 506px; height: 412px;}
.figure_viewer_container.topic_GC .figure_viewer_select.mode_of_variability { display: none; }
.figure_viewer_container.topic_GC .figure_viewer_select.year { display: none; }
.figure_viewer_container.topic_GC .figure_viewer_select.graphing_mode { display: none; }
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.inputs {left: 508px;}
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.help_box { left: 125px; top: 75px;}
.figure_viewer_container.topic_GC .figure_viewer_subcontainer.help_icon { left: 755px; top: 0px;}


.figure_viewer_container.topic_NV {height: 676px; width: 1063px;}
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.color_key {height: 58px;}
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.graph {top: 60px; height: 615px;}
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.inputs {left: 822px;}
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.explanation {left: 822px; height: 438px;}
.figure_viewer_container.topic_NV .figure_viewer_select.climate_variable { display: none; }
.figure_viewer_container.topic_NV .figure_viewer_select.season { display: none; }
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.help_box { left: 275px; top: 200px;}
.figure_viewer_container.topic_NV .figure_viewer_subcontainer.help_icon { left: 1070px; top: 0px;}


.figure_viewer_container.topic_TC {height: 617px; width: 1063px;}
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.graph {top: 1px;}
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.inputs {left: 822px;}
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.explanation {left: 822px; height: 379px;}
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.explanation .explanation_copy {height: 215px;}
.figure_viewer_container.topic_TC .figure_viewer_select.climate_variable { display: none; }
.figure_viewer_container.topic_TC .figure_viewer_select.season { display: none; }
.figure_viewer_container.topic_TC .figure_viewer_select.year { display: none; }
.figure_viewer_container.topic_TC .figure_viewer_radio { display: none; }
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.color_key { display: none; }
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.help_box { left: 275px; top: 135px;}
.figure_viewer_container.topic_TC .figure_viewer_subcontainer.help_icon { left: 1070px; top: 0px;}


/*.topic_slug {display: none;}*/