#sidebarleft, h1.section-label-header, #sidebar{
    display:none;
}

header#masthead {
  height:60px !important;
}
.figure_viewer_container {
  background-color: black;
  position: relative;
  height: 693px;
}

.figure_viewer_subcontainer {
  background-color: white;
  position: absolute;
  left: 100px;
  top: 200px;
  width: 100px;
  height: 100px;
}

.show_hide_div {
  display: none;
}

.figure_viewer_select, .reset_button {
  margin-left: 10px;
  margin-top: 10px;
}

.explanation_copy {
  margin-left: 10px;
  margin-right: 10px;
  height: 350px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px 20px 10px 10px;
  overflow: auto;
}
.edit_this_state {
  margin-left: 10px;
}
.figure_viewer_subcontainer.color_key {
  left: 8px;
  top: 8px;
  width: 820px;
  height: 100px;
}

.figure_viewer_subcontainer.inputs {
  left: 836px;
  top: 8px;
  width: 285px;
  height: 203px;
}

.figure_viewer_subcontainer.graph {
  left: 8px;
  top: 115px;
  width: 820px;
  height: 400px;
}

.figure_viewer_subcontainer.explanation {
  left: 836px;
  top: 219px;
  width: 285px;
  height: 464px;
}

/* help */

.figure_viewer_subcontainer.help_icon {
  cursor: pointer;
  left: 1100px;
  top: -30px;
  width: 30px;
  height: 30px;
}

.figure_viewer_subcontainer.help_box {
  display:none;
  background-color: white;
  width: 500px;
  height: 300px;
  z-index:500;
  border:solid lightblue 3px;
}
.help_copy_container_div {
  margin : 30px;

}


/* hiding inputs */

  .animate_buttons_span {
    display : none;
  }

  .figure_viewer_container.topic_GC .figure_viewer_select.mode_of_variability {
    display: none;
  }
  .figure_viewer_container.topic_GC .figure_viewer_select.year {
    display: none;
  }
  .figure_viewer_container.topic_GC .figure_viewer_select.graphing_mode {
    display: none;
  }


  .figure_viewer_container.topic_NV .figure_viewer_select.climate_variable {
    display: none;
  }
  .figure_viewer_container.topic_NV .figure_viewer_select.season {
    display: none;
  }


  .figure_viewer_container.topic_TC .figure_viewer_select.climate_variable {
    display: none;
  }
  .figure_viewer_container.topic_TC .figure_viewer_select.season {
    display: none;
  }
  .figure_viewer_container.topic_TC .figure_viewer_select.year {
    display: none;
  }
  .figure_viewer_container.topic_TC .figure_viewer_radio {
    display: none;
  }

  .figure_viewer_container.topic_TC .figure_viewer_subcontainer.color_key {
    display: none;
  }


}