#sidebarleft, h1.section-label-header, #sidebar { display: none; }
header#masthead { height: 60px !important; }

.timescale_container
{
	background-color: #eee;
	position: relative;
	height: 653px;
}

.timescale_subcontainer
{
	background-color: white;
	position: absolute;
	left: 170px;
	top: 200px;
	width: 100px;
	height: 100px;
}

.show_hide_div { display: none; }

.timescale_graph_title, .timescale_graph_y_axis
{
	font-weight: bold;
	padding: 0px 8px 0px 8px;
	background-color: #eee;
	font-size: 10px;
	color: black;
}

.timescale_graph_title
{
	position: absolute;
	left: 220px;
	top: -7px;
}

.timescale_graph_y_axis
{
	z-index: 9999;
	position: absolute;
	left: -92px;
	top: 190px;
	-moz-transform: rotate(270deg);
	/* FF3.5+ */
	-o-transform: rotate(270deg);
	/* Opera 10.5 */
	-webkit-transform: rotate(270deg);
	/* Saf3.1+, Chrome */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	/* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	/* IE8 */
}

.timescale_select, .reset_button
{
	margin-left: 10px;
	margin-top: 10px;
}

.timescale_year_highlight_rectangle
{
	position: absolute;
	top: 146px;
	width: 2px;
	height: 330px;
	z-index: 100;
	background-color: red;
	border: solid red 3px;
	opacity: 0.5;
	filter: alpha(opacity=0.5);
}

#year_for_highlight_rectangle.year_1921 .timescale_year_highlight_rectangle { left: 128px; }
#year_for_highlight_rectangle.year_2000 .timescale_year_highlight_rectangle { left: 630px; }
#year_for_highlight_rectangle.year_2005 .timescale_year_highlight_rectangle { left: 687px; }

.explanation_copy
{
	margin-left: 10px;
	margin-right: 10px;
	height: 310px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	padding: 10px 20px 10px 10px;
	overflow: auto;
}

.edit_this_state { margin-left: 10px; }

.timescale_subcontainer.help_icon
{
	cursor: pointer;
	left: 1100px;
	top: -30px;
	width: 30px;
	height: 30px;
}

.timescale_subcontainer.help_box
{
	display: none;
	background-color: white;
	width: 500px;
	height: 300px;
	z-index: 500;
	border: solid lightblue 3px;
}

.help_copy_container_div { margin: 30px; }

.timescale_subcontainer.color_key
{
	left: 8px;
	top: 8px;
	width: 820px;
	height: 60px;
}

.timescale_subcontainer.inputs
{
	left: 836px;
	top: 8px;
	width: 285px;
	height: 203px;
}

.timescale_subcontainer.inputs select
{
	width: 265px;
	font-weight: bold;
}

.timescale_subcontainer.graph
{
	left: 8px;
	top: 75px;
	width: 820px;
	height: 400px;
}

.timescale_subcontainer.explanation
{
	left: 836px;
	top: 219px;
	width: 285px;
	height: 424px;
}

.timescale_subcontainer.variance
{
	left: 8px;
	top: 490px;
	width: 202px;
	height: 153px;
}

.timescale_subcontainer.variance div { margin-left: 10px; }

.timescale_subcontainer.year_data
{
	left: 220px;
	top: 490px;
	width: 608px;
	height: 85px;
}

.year_data .left_box, .year_data .right_box
{
	margin-left: 20px;
	display: inline-table;
}

.percent_data_header, .year_data_header { font-weight: bold; }

.timescale_subcontainer.impact_background
{
	left: 220px;
	top: 585px;
	width: 608px;
	height: 58px;
	color: white;
	font-weight: bold;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.1, #8800ff), color-stop(0.2, #0000ff), color-stop(0.3, #0088ff), color-stop(0.4, #00ffff), color-stop(0.5, #00ff88), color-stop(0.6, #00ff00), color-stop(0.7, #88ff00), color-stop(0.8, #ffff00), color-stop(0.9, #ff8800), color-stop(1, #ff0000));
	background-image: -moz-linear-gradient(left center, #8800ff 10%, #0000ff 20%, #0088ff 30%, #00ffff 40%, #00ff88 50%, #00ff00 60%, #88ff00 70%, #ffff00 80%, #ff8800 90%, #ff0000 100%);
}

.timescale_subcontainer.impact_bubble
{
	top: 20px;
	text-align: center;
	width: 100px;
	height: 30px;
	color: white;
}

.impact_bubble_title
{
	position: relative;
	top: 6px;
}

#impact_level.extremely_wet  .impact_bubble
{
	background-color: darkblue;
	left: 100px;
}

#impact_level.wet .impact_bubble
{
	background-color: lightblue;
	left: 200px;
}

#impact_level.normal .impact_bubble
{
	background-color: green;
	left: 300px;
}

#impact_level.dry .impact_bubble
{
	background-color: orange;
	left: 400px;
}

#impact_level.extremely_dry .impact_bubble
{
	background-color: red;
	left: 500px;
}

