{% extends "base.html" %}
{% load compress %}

{% block title %}Forecaster{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/site_media/css/tablesort.default.css" />

    <script type="text/template" id="analyze-template">                
        <a href="#create-model-dialog" role="button" class="btn btn-success pull-right" data-toggle="modal">
            Create Model <i class="icon-chevron-right icon-white"></i>
        </a>
        <h3>Analyze</h3>

        <div class="row-fluid">
            <div class="span5">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. 
                Cum sociis natoque penatibus et magnis dis parturient montes, 
                nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                <table id="hurricane-data" class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr><th>Year</th><th>Named Storms</th><th>Hurricanes</th><th>ASO NINO3.4 SST anomalies</th></tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < hurricane_data.length; i++) { %>
                            <tr>
                                <td class="year"><%= hurricane_data[i].year %></td>
                                <td class="storms"><%= hurricane_data[i].named_storms %></td>
                                <td class="hurricanes"><%= hurricane_data[i].hurricanes %></td>
                                <td class="nino"><%= hurricane_data[i].nino_sst_anomalies %></td>
                            </tr>
                        <% } %>
                        <tr>
                            <td><strong>Mean</strong></td>
                            <td class="storms"><%= mean_storms %></td>
                            <td class="hurricanes"><%= mean_hurricanes %></td>
                            <td class="nino"><%= mean_nino %></td>
                        </tr>
                        <tr>
                            <td><strong>StdDev</strong></td>
                            <td class="storms"><%= stdev_storms %></td>
                            <td class="hurricanes"><%= stdev_hurricanes %></td>
                            <td class="nino"><%= stdev_nino %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span7">
                <div class="well"><div id="nino-graph"></div></div>
                <div class="well"><div id="storms-graph"></div></div>
                <div class="well"><div id="storms-versus-nino-graph"></div></div>
            </div>
        </div>
        <div>
            <h6>Sources</h6>                                                        
            <div>1966-2012: <a href="http://www.aoml.noaa.gov/hrd/tcfaq/E11.html">Atlantic Storm/Hurricanes from NOAA HURDAT</a></div>
            <div>2013:  <a href="http://weather.unisys.com/hurricane/atlantic/2013/index.php">Storm/Hurricanes from Unisys</a></div>
            <div>1966-2013: <a href="http://www.climatedatalibrary.cl/expert/SOURCES/.NOAA/.NCDC/.ERSST/.version3b/.anom/T/%281950-2013%29VALUES/T/%28Aug-Oct%29seasonalAverage/Y/%285S%29%285N%29RANGEEDGES/X/%28120W%29%28170W%29RANGEEDGES%5BX/Y%5Daverage/">Aug-Sep-Oct NINO3.4 SST anomalies Celsius</a></div>
        </div>

                
        <div id="create-model-dialog" class="modal hide fade" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Create Linear Regression Model</h3>
            </div>
            <div class="modal-body">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. 
                Cum sociis natoque penatibus et magnis dis parturient montes</p>

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputPredictor">Predictor<br /><p><small>(NINO 3.4 ASO)</small></p></label>
                        <div class="controls">
                            <select id="inputPredictor" placeholder="Predictor">
                            <% for (var i=0; i < hurricane_data.length; i++) { %>
                                <option value="<%=hurricane_data[i].id%>"><%=hurricane_data[i].year%> &nbsp;<%=hurricane_data[i].nino_sst_anomalies%> anomalies</option>
                            <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPredictor">Predictand<br /><p><small>Named Storms</small></p></label>
                        <div class="controls">
                            <select id="inputPredictand" placeholder="Predictand">
                            <% for (var i=0; i < hurricane_data.length; i++) { %>
                                <option value="<%=hurricane_data[i].id%>"><%=hurricane_data[i].year%>  &nbsp;<%=hurricane_data[i].named_storms%> Named Storms</option>
                            <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputYearsReserved">Years to Reserve<br /><p><small>Number of years to reserve for cross validation</small></p></label>
                        <div class="controls">
                            <input id="inputYearsReserved" type="text"
                             placeholder="<%= hurricane_data.length %> total years" 
                             type="number" min="1" max="<%= hurricane_data.length %>" />
                            <span style="display: none" class="help-inline">Enter a number between 1 and <%= hurricane_data.length %></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary">Create</button>
            </div>        
        </div>
    </script>
    
    <script type="text/template" id="build-template">
        <a href="#validate" class="btn btn-success pull-right">
            Validate <i class="icon-chevron-right icon-white"></i>
        </a>
        <h3>Linear Regression Model</h3>
        <div class="row-fluid">
            <div class="span12">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. 
                Cum sociis natoque penatibus et magnis dis parturient montes, 
                nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="validate-template">
        <a href="#forecast" class="btn btn-success pull-right">
            Forecast <i class="icon-chevron-right icon-white"></i>
        </a>
        <h3>Cross-Validate</h3>
    </script>
    
    <script type="text/template" id="forecast-template">
        <h3>Forecast</h3>
    </script>
{% endblock %}

{% block all-content %}
    <div class="span12 forecast">    
        <h1>Forecaster</h1>
        <div class="pagination pull-left">
          <ul>
            <li class="step-one"><a href="#analyze">Analyze</a></li>
            <li class="step-two disabled"><a href="#build">Linear Regression Model</a></li>
            <li class="step-three disabled"><a href="#validate">Cross-Validate</a></li>
            <li class="step-four disabled"><a href="#forecast">Forecast</a></li>
          </ul>
        </div>
        
        <div class="pagination pull-right">
          <ul>
            <li class="help"><a data-toggle="modal" data-target="#help-dialog">Help</a></li>
            <li class="reset"><a href="#reset">Reset</a></li>
          </ul>
        </div>

        <div class="clearfix"></div>
        <div class="forecast-step"></div>
                
        <div id="help-dialog" class="modal hide fade" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 id="myModalLabel">The Forecaster Interactive</h3>
            </div>
            <div class="modal-body">
                <p>Help Text</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>   
{% endblock %}

{% block js %}
    <script src="/site_media/js/underscore-min.js" type="text/javascript"></script>
    <script src="/site_media/js/backbone-min.js" type="text/javascript"></script>
    <script src="/site_media/js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="/site_media/js/highcharts-min.js" type="text/javascript"></script>
    <script src="/site_media/js/jstat.min.js" type="text/javascript"></script>
    
    {% compress js %}
    <script src="/site_media/js/scrolling_table.js" type="text/javascript"></script>    
    <script src="/site_media/forecaster/forecast.js" type="text/javascript" ></script>
    {% endcompress %}
{% endblock %}