{% extends "base.html" %}
{% load compress %}

{% block title %}Forecaster{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/site_media/css/tablesort.default.css" />
    <link rel="stylesheet" href="/site_media/bootstrap-slider/css/slider.css" />
    
    <script type="text/template" id="analyze-template">    
		<h2>Phase 1: Initial Analysis</h2>
		<div class="row-fluid">
			<div class="span7">
				<p>
				<strong>
				Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. 
				Cum sociis natoque penatibus et magnis dis parturient montes, 
				nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</strong>
				</p>
			</div>
			<div class="span5">
				<a href="#create-model-dialog" role="button" class="btn btn-success pull-right" data-toggle="modal">
				<strong>Next Step:</strong> Estimate your model. <i class="icon-chevron-right icon-white"></i>
				</a>
			</div>
		</div>
		<hr />
 	
        <div class="row-fluid">
            <div class="span5">
            
			<h3>Table Title</h3>
	                <a href="#add-predictand-dialog" role="button" class="btn btn-default pull-right" data-toggle="modal">
                    Add a Predictand Column (Optional)
                </a>
		
		
                 <div style="clear: both"></div>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Named Storms</th>
                            <th>Hurricanes</th>
                            <th>NINO 3.4 (ASO)</th>
                            <% if (custom_name) { %>
                                <td class="text-right"><%= custom_name %></td>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < hurricane_data.length; i++) { %>
                            <tr>
                                <td class="year"><%= hurricane_data[i].year %></td>
                                <td class="text-right"><%= hurricane_data[i].named_storms %></td>
                                <td class="text-right"><%= hurricane_data[i].hurricanes %></td>
                                <td class="text-right"><%= hurricane_data[i].nino_sst_anomalies.toFixed(2) %></td>
                                <% if (custom_name) { %>
                                    <td class="text-right"><%= hurricane_data[i].custom.toFixed(2) %></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Mean</strong></td>
                            <td class="text-right"><%= mean_storms.toFixed(2) %></td>
                            <td class="text-right"><%= mean_hurricanes.toFixed(2) %></td>
                            <td class="text-right"><%= mean_nino.toFixed(2) %></td>
                            <% if (custom_name) { %>
                                <td class="text-right"><%= mean_custom.toFixed(2) %></td>
                            <% } %>
                        </tr>
                        <tr>
                            <td><strong>StDev</strong></td>
                            <td class="text-right"><%= stdev_storms.toFixed(2) %></td>
                            <td class="text-right"><%= stdev_hurricanes.toFixed(2) %></td>
                            <td class="text-right"><%= stdev_nino.toFixed(2) %></td>
                            <% if (custom_name) { %>
                                <td class="text-right"><%= stdev_custom.toFixed(2) %></td>
                            <% } %>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="span7">
                <div class="well"><div id="nino-graph"></div></div>
                <div class="well">
                    <div id="predictand-graph"></div>
                    <div class="alert alert-warning fade in graphhelp">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Too much information?</strong> Hide and show the visualization of a data series by clicking on its name in the legend.
                    </div>
                </div>
                <div class="well">
                    <div id="predictand-vs-nino-graph"></div>
                    <div class="alert alert-warning fade in graphhelp">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Too much information?</strong> Hide and show the visualization of a data series by clicking on its name in the legend.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h6>Sources</h6>                                                        
            <div>1966-2012: <a href="http://www.aoml.noaa.gov/hrd/tcfaq/E11.html">Atlantic Storm/Hurricanes from NOAA HURDAT</a></div>
            <div>2013:  <a href="http://weather.unisys.com/hurricane/atlantic/2013/index.php">Storm/Hurricanes from Unisys</a></div>
            <div>1966-2013: <a href="http://www.climatedatalibrary.cl/expert/SOURCES/.NOAA/.NCDC/.ERSST/.version3b/.anom/T/%281950-2013%29VALUES/T/%28Aug-Oct%29seasonalAverage/Y/%285S%29%285N%29RANGEEDGES/X/%28120W%29%28170W%29RANGEEDGES%5BX/Y%5Daverage/">Aug-Sep-Oct NINO3.4 SST anomalies Celsius</a></div>
        </div>
                
        <div id="create-model-dialog" class="modal hide" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Select Model Parameters</h3>
            </div>
            <div class="modal-body">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. 
                Cum sociis natoque penatibus et magnis dis parturient montes</p>

                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="selectedPredictor">Predictor</label>
                        <div class="controls selectedPredictor">ASO NINO3.4 SST anomalies</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPredictand">Predictand</label>
                        <div class="controls">
                            <select id="inputPredictand" placeholder="Predictand">
                                <option value="hurricanes">Hurricanes</option>
                                <option value="named_storms">Named Storms</option>
                                <% if (custom_name) { %>
                                    <option value="custom"><%= custom_name%></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputYearsReserved">Years to Reserve</label>
                        <div class="controls">
                            <input id="inputYearsReserved" type="text"
                             value="<%= years_reserved %>"
                             type="number"
                             min="1" max="<%= hurricane_data.length / 2 %>" />
                            <span style="display: none" class="help-inline">Enter a number between 1 and <%= Math.floor(hurricane_data.length / 2) %></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary">Create</button>
            </div>        
        </div>

        <div id="add-predictand-dialog" class="modal hide" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Add Predictand</h3>
            </div>
            <div class="modal-body">
                <p>Personalize this interactive by pasting in data for a custom predictand.</p>
                <form>
                    <fieldset>
                        <label>Predictand Name</label>
                        <input type="text" name="new-predictand-name" />
                        <span style="display: none" class="help-inline error">Enter a name for the predictand.</span>
                    </fieldset>
                    <br />
                    <fieldset>
                        <label>Predictand Data</label>
                        <ul class="small">
                            <li>Data must be <b>pasted</b> from a spreadsheet like Excel or Google spreadsheet.
                            <li>Data must cover 20 or more contiguous years</li>
                            <li>Data must be between <%= extremes.min %>-<%= extremes.max %>.</li>
                            <li>Data must be sorted by years ascending.</li> 
                            <li>Data must consist of two columns: year, value.
                            <li>Do not change data after pasting.</li>
                        </ul>

                        <textarea id="pasted-data" placeholder="Paste data here."></textarea>
                        <span id="data-error" style="display: none" class="help-inline error"></span>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary">Create</button>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="build-template">
        <h2>Phase 2: Linear Regression Model</h2>
		<div class="row-fluid">
			<div class="span7">
				<p>
				<strong>
				Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. 
				Cum sociis natoque penatibus et magnis dis parturient montes, 
				nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</strong>
				</p>
			</div>
			<div class="span5">
                <a href="#validate" role="button" class="btn btn-success pull-right">
                    <strong>Next Step:</strong> Cross-validate your model. <i class="icon-chevron-right icon-white"></i>
                </a>
			</div>
		</div>
        <hr />
        <div class="row-fluid">
            <div class="span5">
			<h3>Table Title</h3>
                <dl class="dl-horizontal">
                    <dt>Predictor</dt><dd>Nino 3.4 ASO</dd>
                    <dt>Predictand</dt><dd><%= predictand_label %></dd>
                    <dt>Years Reserved</dt><dd><%= years_reserved %></dd>
                    <dt>Slope</dt><dd><%= slope.toFixed(3) %></dd>
                    <dt>Intercept</dt><dd><%= intercept.toFixed(3) %></dd>
                    <dt>R Squared</dt><dd><%= r_squared.toFixed(3) %></dd>
                </dl>

                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr><th>Observation</th><th>Estimated</th><th>Residuals</th></tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < observations.length; i++) { %>
                            <tr>
                                <td ><%= i + 1 %></td>
                                <td class="text-right"><%= observations[i].predicted_y.toFixed(2) %></td>
                                <td class="text-right"><%= observations[i].residuals.toFixed(2) %></td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Mean</strong></td>
                            <td class="text-right"><%= mean_predicted_y.toFixed(2) %></td>
                            <td class="text-right"><%= mean_residuals.toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td><strong>StDev</strong></td>
                            <td class="text-right"><%= stdev_predicted_y.toFixed(2) %></td>
                            <td class="text-right"><%= stdev_residuals.toFixed(2) %></td>
                        </tr>                  
                    </tfoot>
                </table>
            </div>
            <div class="span7">
                <div class="well"><div id="actual-v-predicted-graph"></div></div>
                <div class="well"><div id="actualandpredicted-v-observed-graph"></div></div>
                <div class="well"><div id="residuals-graph"></div></div>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="validate-template">    
        <h2>Phase 3: Cross-Validation</h2>
		<div class="row-fluid">
			<div class="span7">
				<p>
				<strong>
				Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. 
				Cum sociis natoque penatibus et magnis dis parturient montes, 
				nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</strong>
				</p>
			</div>
			<div class="span5">
                <a href="#forecast" class="btn btn-success pull-right">
                    <strong>Next Step:</strong> Create your forecast. <i class="icon-chevron-right icon-white"></i>
                </a>
			</div>
		</div>
		<hr />

        <div class="row-fluid">
            <div class="span5">
			<h3>Table Title</h3>
                <dl class="dl-horizontal">
                    <dt>Predictor</dt><dd>Nino 3.4 ASO</dd>
                    <dt>Predictand</dt><dd><%= predictand_label %></dd>
                    <dt>Years Reserved</dt><dd><%= years_reserved %></dd>
                    <dt>Slope</dt><dd><%= slope.toFixed(3) %></dd>
                    <dt>Intercept</dt><dd><%= intercept.toFixed(3) %></dd>
                    <dt>R Squared</dt><dd><%= r_squared.toFixed(3) %></dd>
                </dl>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr><th>Year</th><th>Observed</th><th>Estimated</th><th>Residuals</th></tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < observations.length; i++) { %>
                            <tr>
                                <td><%= observations[i].year %></td>
                                <td class="text-right"><%= observations[i].predictand %></td>
                                <td class="text-right"><%= observations[i].predicted_y.toFixed(2) %></td>
                                <td class="text-right"><%= observations[i].residuals.toFixed(2) %></td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Mean</strong></td><td />
                            <td class="text-right"><%= mean_predicted_y.toFixed(2) %></td>
                            <td class="text-right"><%= mean_residuals.toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td><strong>StDev</strong></td><td />
                            <td class="text-right"><%= stdev_predicted_y.toFixed(2) %></td>
                            <td class="text-right"><%= stdev_residuals.toFixed(2) %></td>
                        </tr>                    
                    </tfoot>
                </table>
            </div>
            <div class="span7">
                <div class="well"><div id="predictand-with-uncertainty"></div></div>

			<h3>Table Title</h3>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr><th>Set</th><th>Estimated Mean</th><th>Estimated Stdev</th><th>Residuals Mean</th><th>Residuals StDev</tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cross-Validate</td>
                            <td><%= mean_predicted_y.toFixed(2)%></td>
                            <td><%= stdev_predicted_y.toFixed(2)%></td>
                            <td><%= mean_residuals.toFixed(2)%></td>
                            <td><%= stdev_residuals.toFixed(2)%></td>
                        </tr>
                        <tr>
                            <td>Forecast</td>
                            <td><%= forecast.mean_predicted_y.toFixed(2)%></td>
                            <td><%= forecast.stdev_predicted_y.toFixed(2)%></td>
                            <td><%= forecast.mean_residuals.toFixed(2)%></td>
                            <td><%= forecast.stdev_residuals.toFixed(2)%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="forecast-template">
    
      <h2>Phase 4: Complete Forecast</h2>
		<div class="row-fluid">
			<div class="span7">
				<p>
				<strong>
				Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. 
				Cum sociis natoque penatibus et magnis dis parturient montes, 
				nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
				</strong>
				</p>
			</div>
			<div class="span5">
			</div>
		</div>
		<hr />
    
     
        <div class="row-fluid">
            <div class="span5">
                <dl class="dl-horizontal">
                    <dt>Predictor</dt><dd>Nino 3.4 ASO</dd>
                    <dt>Predictand</dt><dd><%= predictand_label %></dd>
                    <dt>Slope</dt><dd><%= slope.toFixed(3) %></dd>
                    <dt>Intercept</dt><dd><%= intercept.toFixed(3) %></dd>
                    <dt>R Squared</dt><dd><%= r_squared.toFixed(3) %></dd>
                    <dt>Residuals St Dev</dt><dd><%= stdev_residuals.toFixed(3) %></dd>
                </dl>
            </div>
            <div class="span7">
                <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center sorter-false">Forecast model</th>
                        <th colspan="4" class="text-center sorter-false">Forecast Uncertainty Quantiles</th>
                    </tr>
                    <tr>
                        <th class="text-center">Predictor</th>
                        <th class="text-center">Estimated</th>
                        <th class="text-center">0.05</th>
                        <th class="text-center">0.25</th>
                        <th class="text-center">0.75</th>
                        <th class="text-center">0.95</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < forecast.length; i++) { %>
                        <tr>
                            <td class="text-right"><%= forecast[i].predictor.toFixed(2) %></td>
                            <td class="text-right"><%= forecast[i].predicted_y.toFixed(2) %></td>
                            <td class="text-right"><%= forecast[i]['0.05'].toFixed(2) %></td>
                            <td class="text-right"><%= forecast[i]['0.25'].toFixed(2) %></td>
                            <td class="text-right"><%= forecast[i]['0.75'].toFixed(2) %></td>
                            <td class="text-right"><%= forecast[i]['0.95'].toFixed(2) %></td>
                        </tr>
                    <% } %>
                </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 probabilisic-forecast">
                <div class="well">
                    <h3>Probabilistic Forecast</h3>
                     
                    <form class="form-inline">
                        <div style="display: none" class="help-inline error">Enter a number between <%= extremes.min.toFixed(2) %> and <%= extremes.max.toFixed(2) %></div>
                        <label class="control-label" for="inputYearsReserved">Nino 3.4 (ASO) value</label>
                        <input type="text" value="0" id="nino-value" class="input-small"/>
                        <input type="button" id="change-nino-value" class="btn btn-primary" value="Set" />
                    </form>
                    
                    <input id="nino-value-slider" type="text" style="display: none" />

                    <div class="row-fluid probabilistic-forecast">
                        <div class="span5 custom-forecast"></div>
                        <div class="span7">
                            <div class="well"><div id="custom-forecast-graph"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="custom-forecast-template">
        <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="text-center">Quantile</th>
                <th class="text-center">Inv Norm Dist</th>
                <th class="text-center">Norm Dist</th>
            </tr>
        </thead>
        <tbody>
            <% var keys = Object.keys(dist); %>
            <% for (var i= 0; i < keys.length; i++) { %>
                <tr>
                    <td class="text-center"><%= keys[i] %></td>
                    <td class="text-right"><%= dist[keys[i]].inv_norm.toFixed(5) %></td>
                    <td class="text-right"><%= dist[keys[i]].norm.toFixed(5) %></td>
                </tr>
            <% } %>
        </tbody>
    </script>
{% endblock %}

{% block all-content %}
<div class="forecast">
    
	<div class="row-fluid">
        
		<div class="span9">
			<h1>Forecaster</h1>
		</div>
        
        <div class="span3">
			<div class="pull-right">
				<a class="btn"  type="button" data-toggle="modal" data-target="#help-dialog">Help</a>
				<a class="btn btn-danger" type="button" data-toggle="modal" data-target="#reset-dialog">Reset</a>
			</div>
        </div>
 
	</div>
        
	<div class="row-fluid">
		<div class="pagination pagination-centered primary">
		<ul>
			<li class="step-one"><a href="#analyze">Phase 1: Analysis <span class="check">&radic;</span></a></li>
			<li class="step-two disabled"><a href="#build">Phase 2: Model <span class="check">&radic;</span></a></li>
			<li class="step-three disabled"><a href="#validate">Phase 3: Cross-Validation <span class="check">&radic;</span></a></li>
			<li class="step-four disabled"><a href="#forecast">Phase 4: Forecast <span class="check">&radic;</span></a></li>
		</ul>
		</div>
	</div>
	
	<div class="forecast-step"></div>
                
        <div id="help-dialog" class="modal hide" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 id="myModalLabel">Help</h3>
            </div>
            <div class="modal-body">
                <p>Help Text</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>   
        
        
        <div id="reset-dialog" class="modal hide" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3 id="myModalLabel">Reset Forecaster</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure? This will overwrite all of your work and will send you back to Phase 1.</p>
            </div>
            <div class="modal-footer">
                <button id="reset" class="btn btn-danger" data-dismiss="modal">Reset everything!</button>
                <button class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>   
{% endblock %}

{% block js %}
    <script src="/site_media/js/underscore-min.js" type="text/javascript"></script>
    <script src="/site_media/js/backbone-min.js" type="text/javascript"></script>
    <script src="/site_media/js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="/site_media/js/highcharts-min.js" type="text/javascript"></script>
    <script src="/site_media/js/highcharts-more-min.js" type="text/javascript"></script>
    <script src="/site_media/js/jstat.min.js" type="text/javascript"></script>
    
    
    {% compress js %}
        <script src="/site_media/forecaster/forecast.js" type="text/javascript" ></script>
        <script src="/site_media/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>
    {% endcompress %}
{% endblock %}